/**
 * General
 */
a {
  text-underline-offset: 0.5rem;
  transition: color $animation-props;
}

hr {
  @include gradient-x-three-colors(transparent, rgba($gray-600, 0.25), 50%, transparent);
  border: none;
  height: 1px;
}

img {
  height: auto;
}

svg {
  width: 1.125em;
  height: 1.125em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  .svg-fill {
    fill: currentColor;
    stroke-width: 0;
  }
}

/**
 * HEADER
 */
#header_menu {
  border-bottom: 1px solid lighten($blue, 15%);
}

#credit-card {
  background: url('../img/creditcard-bg.svg') no-repeat center center;
  background-size: cover;
}

#credit-card small {
  font-size: 0.75em;
}

/**
 * Sections
 */
.section-skewed,
.section-skewed-top {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
    border-bottom: 3vw solid $body-bg;
    border-left: 100vw solid transparent;
  }
}

.section-skewed-top {
  &:after {
    top: 0;
    bottom: auto;
    border: none;
    border-top: 3vw solid $body-bg;
    border-right: 100vw solid transparent;
  }
}

main section {
  margin-bottom: 9rem;
  position: relative;

  &:after {
    content: url('../img/section-trail.svg');
    position: absolute;
    left: 50%;
    top: calc(100% + 2rem);
    width: 8rem;
    margin-left: -8rem;
  }

  &:nth-child(2n) {
    &:after {
      transform: scaleX(-100%);

      margin-left: 0;
    }
  }
}

.awesome-project__card-img {
  top: -4.5rem;
  right: -7.5rem;
  left: 14.5325rem;
}

/**
 * Components
 */
.btn {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75em;
}

.btn-outline-light {
  color: $dark;
  border-color: $gray-200;
}

.card {
  transition: box-shadow $animation-props;
  box-shadow: $box-shadow;
}

.card-hover:hover {
  box-shadow: $box-shadow-lg;
}

.btn-store {
  background: $black;
  color: $white;
  line-height: 1.2;

  &:hover {
    background: $dark;
    color: $white;
  }
}

/**
 * Awards
 */
#awards .card {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6rem;
    background: rgba(#fff, 0.75);
    width: 150%;
    transform: translate3d(0, 100%, 0) rotate(30deg);
    transform-origin: top left;
    pointer-events: none;
    opacity: 1;
  }

  &:hover {
    &:after {
      opacity: 0.5;
      transform: translate3d(0, -450%, 0) rotate(30deg);
      transition: .7s ease-out;
      transition-property: transform, opacity;
    }
  }
}

@media screen and (min-width: 1720px) {
  #awards_row {
    flex-wrap: nowrap;
  }
}

/**
 * FAQ
 */
[data-toggle="collapse"] {
  cursor: pointer;
}

.faq-question {
  transition: color $animation-props;
}

.faq-question:not(.collapsed) .faq-plus {
  display: none;
}

.faq-question:not(.collapsed) {
  color: $primary;
}

.collapsed .faq-minus {
  display: none;
}

/**
 * FOOTER
 */
footer a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}