// Grid
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .125),
  2: ($spacer * .25),
  3: ($spacer * .5),
  4: $spacer,
  5: ($spacer * 1.5),
  6: ($spacer * 3),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 7.5),
  10: ($spacer * 10),
);


// Colors
$theme-colors: (
  'white': #fff
);

$yiq-contrasted-threshold: 200;

$gray-100: #fafbff;
$gray-200: #dfe9f1;
$gray-300: #cbd4de;
$gray-600: #61718b;
$gray-800: #212e3f;
$gray-900: #161348;

$text-muted: $gray-600;

$primary: #008bff;
$warning: #ffbe29;
$dark: $gray-900;
$light: $gray-100;
$success: #00cba7;

// Navbar
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-y: 1.1rem;

$navbar-dark-color:         #ffffff;
$navbar-dark-hover-color:   rgba(#ffffff, .75);
$navbar-dark-active-color:  #ffffff;


// Typography
$font-family-sans-serif: 'Manrope', sans-serif;
$line-height-base: 1.75;

$h1-font-size: 2.85rem;
$headings-font-weight: 700;
$headings-line-height: 1.45;

$lead-font-size: 1.1rem;
$lead-font-weight:   500;
$font-weight-light:  400;
$font-weight-normal: 500;
$font-weight-bold:   700;

// Links
$link-color: $primary;
$link-decoration: underline solid 3px;
$link-hover-decoration: none;


// Components
$border-radius:    0.4rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.35rem;

$input-btn-font-size: 0.9rem;
$input-btn-line-height: 1.5;
$input-btn-border-width: 2px;
$input-btn-padding-x:    1.3rem;
$input-btn-padding-y:    0.5rem;

$input-btn-font-size-sm: 0.8rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-sm: 0.3rem;

// $input-btn-font-size-lg: ;
$input-btn-padding-x-lg: 2rem;
$input-btn-padding-y-lg: 0.75rem;
$input-btn-font-size-lg: 1rem;

$box-shadow-sm: 0 .125rem .25rem rgba($dark, .08);
$box-shadow:    0 .5rem 1.5rem rgba($dark, .08);
$box-shadow-lg: 0 1rem 3rem rgba($dark, .08);

// Cards
$card-border-radius: 0.75rem;
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.75rem;
$card-border-color: rgba($dark, 0.10);
$card-cap-bg: transparent;

// List groups
$list-group-item-padding-x: 0;
$list-group-border-color: rgba($dark, 0.10);

// Badges
$badge-padding-y: 0.75em;
$badge-padding-x: 1em;
$badge-border-radius: $border-radius-sm;
$badge-pill-padding-x: 1em;

// Progress bars
$progress-height:                   3px;
$progress-bg:                       $gray-300;
$progress-box-shadow:               none;
$progress-bar-bg:                   $warning;

// Image thumbnails
$thumbnail-padding:       0;
$thumbnail-border-width:  3px;
$thumbnail-border-color:  #fff;
$thumbnail-border-radius: 50%;

// Custom
$animation-props: 0.4s cubic-bezier(.04,.95,.39,.94);