// Grid

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 7.5),
  9: ($spacer * 10),
  10: ($spacer * 12.5),
);


// Colors
$theme-colors: (
  'white': #fff
);

$yiq-contrasted-threshold: 200;

$gray-100: #fafbff;
$gray-200: #e1e9f0;
$gray-600: #61718b;
$gray-800: #212e3f;
$gray-900: #161348;

$text-muted: $gray-600;

$primary: #038aff;
$warning: #febd3d;
$dark: $gray-900;
$light: $gray-200;
$success: #5ccaa7;

// Navbar
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-y: 1.1rem;


// Typography
$font-family-sans-serif: 'Manrope', sans-serif;
$line-height-base: 1.8;

$h1-font-size: 2.85rem;
$headings-font-weight: 700;
$headings-line-height: 1.4;

$lead-font-size: 1.1rem;
$lead-font-weight:   400;
$font-weight-light:  400;
$font-weight-normal: 500;
$font-weight-bold:   700;

// $small-font-size: 0.75em;

// Links
$link-color: $primary;
$link-decoration: underline dashed 0.075rem;
$link-hover-decoration: none;


// Components
$border-radius:    0.4rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.35rem;

$input-btn-font-size: 0.9rem;
$input-btn-line-height: 1.5;
$input-btn-border-width: 2px;
$input-btn-padding-x:    1.5rem;
$input-btn-padding-y:    0.4rem;

$input-btn-font-size-sm: 0.8rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-sm: 0.3rem;

// $input-btn-font-size-lg: ;
$input-btn-padding-x-lg: 2.5rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-font-size-lg: 1rem;

// Cards
$card-border-radius: 0.75rem;
$card-spacer-x: 1.75rem;
$card-border-color: rgba($dark, 0.10);

// List groups
// $list-group-item-padding-y: 1rem;
$list-group-item-padding-x: 0;
$list-group-border-color: rgba($dark, 0.10);

// Badges
$badge-padding-y: 0.75em !default;
$badge-padding-x: 1em !default;
$badge-border-radius: $border-radius-sm;